<template>
    <v-app>
        <Navbar />

        <v-main>
            <Alert />
            <Child />
        </v-main>
    </v-app>
</template>

<script>
const Child = () => import("../base/Child");
import Navbar from "../base/Navbar";
const Alert = () => import("../base/Alert");
export default {
    name: "MainLayout",
    components: { Navbar, Child, Alert }
};
</script>
