<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark> </v-toolbar>
            <v-card-title>
                Lista de Agendamentos
                <v-spacer></v-spacer>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="bookings"
                sort-by="name"
                class="elevation-1"
                :loading="loading"
                loading-text="Carregando..."
            >
                <template v-slot:item.status="{ item }">
                    <v-chip :color="getColor(item.status)" dark>
                        {{ item.status }}
                    </v-chip>
                </template>
                <template v-slot:item.data="{ item }">
                    <span>{{ formatDate(item.data) }}</span>
                </template>
                <template v-slot:top>
                    <!-- <EditForm
                        :item="item"
                        v-model="isOpenForm"
                        @click="isOpenForm = $event"
                    /> -->

                    <DeleteAlert
                        route="contract"
                        v-model="isOpenAlert"
                        :item="item"
                        @click="isOpenAlert = $event"
                    />
                </template>
                <template v-slot:item.actions="item">
                    <!-- <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon> -->
                    <!-- <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon> -->
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
const EditForm = () => import("../../components/base/forms/EditService");

import { mapGetters } from "vuex";

export default {
    name: "Pessoas",
    components: {
        EditForm,
        DeleteAlert: () => import("../../components/base/DeleteAlert")
    },

    data: () => ({
        loading: true,
        isOpenForm: false,
        isOpenAlert: false,
        dialog: false,
        dialogDelete: false,
        id: null,
        headers: [
            {
                text: "Status",
                align: "start",
                sortable: true,
                value: "status"
            },
            {
                text: "Data",
                align: "start",
                sortable: true,
                value: "data"
            },
            {
                text: "Profissional",
                align: "start",
                sortable: true,
                value: "name"
            },
            {
                text: "Serviço",
                align: "start",
                sortable: true,
                value: "servico"
            }
            // { text: "Ações", align: "end", value: "actions", sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
            nome: ""
        },
        defaultItem: {
            nome: ""
        },
        item: {}
    }),

    computed: {
        ...mapGetters("BookingModule", ["bookings"])
    },

    async created() {
        await this.$store.dispatch("BookingModule/FETCH_BOOKINGS");
        this.loading = false;
    },

    methods: {
        getColor(status) {
            if (status === "confirmado") {
                return "success";
            } else if (status === "pendente") {
                return "gray";
            } else if (status === "cancelado") {
                return "error";
            } else {
                return "orange";
            }
        },

        formatDate(date) {
            return moment(date).format("L");
        },

        async editItem({ item }) {
            this.item = await item;
            this.isOpenForm = true;
        },

        async deleteItem({ item }) {
            this.item = item;
            this.isOpenAlert = true;
        }
    }
};
</script>
