<template>
    <v-container>
        <v-row>
            <v-col cols="4">
                <v-card dark height="90px" color="red">
                    <v-list-item three-line>
                        <v-list-item-icon>
                            <v-icon size="55"> mdi-account-hard-hat </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="headline mb-1">
                                Profissionais
                            </v-list-item-title>
                            <v-list-item-subtitle>
                                cadastrados: {{ data.professionals }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card dark height="90px" color="green">
                    <v-list-item three-line>
                        <v-list-item-icon>
                            <v-icon size="55"> mdi-account-cash </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="headline mb-1">
                                Clientes
                            </v-list-item-title>
                            <v-list-item-subtitle>
                                cadastrados: {{ data.clients }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card dark height="90px" color="orange">
                    <v-list-item three-line>
                        <v-list-item-icon>
                            <v-icon size="55"> mdi-notebook-multiple </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="headline mb-1">
                                Agendamentos
                            </v-list-item-title>
                            <v-list-item-subtitle>
                                realizados: {{ data.agendamentos }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </v-col>
            <v-col cols="4"> </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card dark class="mx-auto text-center" color="primary">
                    <v-card-text>
                        <v-sheet color="#fff">
                            <booking-chart />
                        </v-sheet>
                    </v-card-text>
                    <v-card-text>
                        <!-- <div class="display-1 font-weight-thin">
                            Movimentações últimos 30 dias
                        </div> -->
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "Dashboard",

    components: {
        BookingChart: () => import("../../components/charts/BookingChart")
    },

    computed: {
        ...mapState("AdminModule", ["data"])
    },

    created() {
        this.$store.dispatch("AdminModule/FETCH_DATA");
    }
};
</script>
