<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark> </v-toolbar>
            <v-card-title>
                Lista de Pessoas Cadastradas
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar..."
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="users"
                :search="search"
                sort-by="name"
                class="elevation-1"
                :loading="loading"
                loading-text="Carregando..."
            >
                <template v-slot:item.created_at="{ item }">
                    <span>{{ formatDate(item.created_at) }}</span>
                </template>
                <template v-slot:top>
                    <EditForm
                        :item="item"
                        v-model="isOpenForm"
                        @click="isOpenForm = $event"
                    />

                    <DeleteAlert
                        route="users"
                        v-model="isOpenAlert"
                        :item="item"
                        @click="isOpenAlert = $event"
                    />
                </template>
                <template v-slot:item.actions="item">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
import EditForm from "../../components/base/forms/EditUser";
import DeleteAlert from "../../components/base/DeleteAlert";
import { mapGetters } from "vuex";

export default {
    name: "Pessoas",
    components: {
        EditForm,
        DeleteAlert
    },

    data: () => ({
        loading: true,
        search: "",
        isOpenForm: false,
        isOpenAlert: false,
        dialog: false,
        dialogDelete: false,
        id: null,
        headers: [
            {
                text: "Nome",
                align: "start",
                sortable: true,
                value: "name"
            },
            {
                text: "Tipo",
                align: "start",
                sortable: true,
                value: "tipo"
            },
            {
                text: "Data cadastro",
                align: "start",
                sortable: true,
                value: "created_at"
            },
            { text: "Ações", align: "end", value: "actions", sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
            nome: ""
        },
        defaultItem: {
            nome: ""
        },
        item: {}
    }),

    computed: {
        ...mapGetters("UsersModule", ["users"])
    },

    async created() {
        await this.$store.dispatch("UsersModule/FETCH_USERS");
        this.loading = false;
    },

    watch: {
        isOpenAlert() {
            this.$store.dispatch("UsersModule/FETCH_USERS");
        }
    },

    methods: {
        formatDate(date) {
            return moment(date).format("L");
        },

        async editItem({ item }) {
            this.item = await item;
            this.isOpenForm = true;
        },

        async deleteItem({ item }) {
            this.item = item;
            this.isOpenAlert = true;
        }
    }
};
</script>
