<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark> </v-toolbar>
            <v-card-title>
                Lista de serviços
                <v-spacer></v-spacer>
                <v-text-field
                    append-icon="mdi-magnify"
                    label="Buscar..."
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="services"
                sort-by="calories"
                class="elevation-1"
                :loading="loading"
                loading-text="Carregando..."
            >
                <template v-slot:top>
                    <EditForm
                        :item="item"
                        v-model="isOpenForm"
                        @click="isOpenForm = $event"
                    />

                    <DeleteAlert
                        route="services"
                        v-model="isOpenAlert"
                        :item="item"
                        @click="isOpenAlert = $event"
                    />
                </template>
                <template v-slot:item.actions="item">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "Serviços",
    components: {
        EditForm: () => import("../../components/base/forms/EditService"),
        DeleteAlert: () => import("../../components/base/DeleteAlert")
    },

    data: () => ({
        loading: true,
        isOpenForm: false,
        isOpenAlert: false,
        dialog: false,
        dialogDelete: false,
        headers: [
            {
                text: "Nome",
                align: "start",
                sortable: true,
                value: "nome"
            },
            {
                text: "Categoria",
                align: "start",
                sortable: true,
                value: "categoria"
            },
            { text: "Ações", align: "end", value: "actions", sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
            nome: ""
        },
        defaultItem: {
            nome: ""
        },
        item: {}
    }),

    computed: {
        ...mapGetters("ServiceModule", ["services"])
    },

    async created() {
        await this.$store.dispatch("ServiceModule/FETCH_SERVICES");
        this.loading = false;
    },

    methods: {
        async editItem({ item }) {
            this.item = await item;
            this.isOpenForm = true;
        },

        async deleteItem({ item }) {
            this.item = await item;
            this.isOpenAlert = true;
        }
    }
};
</script>
