<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark> </v-toolbar>
            <v-card-title>
                Lista de Termos
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar..."
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="contracts"
                :search="search"
                sort-by="name"
                class="elevation-1"
                :loading="loading"
                loading-text="Carregando..."
            >
                <template v-slot:item.actions="item">
                    <v-icon small class="mr-2" @click="viewDocument(item)">
                        mdi-file-document
                    </v-icon>
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
        <PdfView
            @click="pdf = $event"
            v-model="pdf"
            :item="item"
            :file="file"
        />
    </v-container>
</template>

<script>
import PdfView from "../../components/base/PdfView";
import { mapGetters } from "vuex";
export default {
    name: "Pessoas",

    components: {
        PdfView
    },

    data: () => ({
        item: {},
        file: [],
        pdf: false,
        search: "",
        isOpenForm: false,
        isOpenAlert: false,
        dialog: false,
        dialogDelete: false,
        id: null,
        loading: true,
        headers: [
            {
                text: "Nome",
                align: "start",
                sortable: true,
                value: "nome"
            },
            {
                text: "Versão",
                align: "start",
                sortable: true,
                value: "versao"
            },
            { text: "Ações", align: "end", value: "actions", sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
            nome: ""
        },
        defaultItem: {
            nome: ""
        }
    }),

    computed: {
        ...mapGetters("ContractModule", ["contracts"])
    },

    async created() {
        await this.$store.dispatch("ContractModule/FETCH_CONTRACTS");
        this.loading = false;
    },

    methods: {
        async editItem({ item }) {
            this.item = await item;
            this.isOpenForm = true;
        },

        async deleteItem({ item }) {
            this.item = item;
            this.isOpenAlert = true;
        },

        async viewDocument({ item }) {
            await this.file.push(item.arquivo);
            this.item = await item;
            this.pdf = true;
        }
    }
};
</script>
