<template>
    <transition name="page" mode="out-in">
        <component
            :is="$auth.check() ? 'Admin' : 'Auth'"
            v-if="layout"
        ></component>
    </transition>
</template>

<script>
export default {
    components: {
        Admin: () => import("./components/layout/Admin"),
        Auth: () => import("./components/layout/Auth")
    },

    mounted() {
        this.layout = true;
    },

    data() {
        return {
            layout: false
        };
    }
};
</script>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
