<template>
    <v-row justify="center">
        <v-dialog fullscreen persistent v-model="value" max-width="600px">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="handleFormState">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>
                        Editar Usuário / Informações adicionais
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark text @click="updateItem(item)">
                            Salvar
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-card-text>
                    <v-container grid-list-xl>
                        <v-layout>
                            <v-row>
                                <v-col cols="12">
                                    <v-card-title>
                                        <span class="headline">
                                            Editar Usuário
                                        </span>
                                    </v-card-title>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="name"
                                        label="Nome*"
                                        :value="item ? item.name : ''"
                                        @input.native="handleData($event)"
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="email"
                                        label="E-mail*"
                                        :value="item ? item.email : ''"
                                        @input.native="handleData($event)"
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="cpfcnpj"
                                        label="CPF/CNPJ"
                                        :value="item ? item.cpfcnpj : ''"
                                        disabled
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="rgie"
                                        label="RG/IE"
                                        :value="item ? item.rgie : ''"
                                        disabled
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="razaosocial"
                                        label="Razão Social"
                                        :value="item ? item.razaosocial : ''"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="nascimento"
                                        label="Data de nascimento"
                                        :value="
                                            item
                                                ? formatDate(item.nascimento)
                                                : ''
                                        "
                                        disabled
                                    >
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="telefonecelular"
                                        label="Telefone"
                                        :value="
                                            item ? item.telefonecelular : ''
                                        "
                                        @input.native="handleData($event)"
                                    >
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="sexo"
                                        label="Sexo"
                                        :value="item ? item.sexo : ''"
                                        @input.native="handleData($event)"
                                        disabled
                                    >
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field
                                        name="tipo"
                                        label="Tipo"
                                        :value="item ? item.tipo : ''"
                                        @input.native="handleData($event)"
                                    >
                                    </v-text-field>
                                </v-col>

                                <v-list width="100%">
                                    <v-spacer></v-spacer>
                                    <v-subheader inset>
                                        Informações adicionais
                                    </v-subheader>
                                    <v-divider inset></v-divider>
                                </v-list>

                                <v-col cols="6">
                                    <v-text-field
                                        label="Data cadastro"
                                        :value="
                                            item
                                                ? formatDate(item.created_at)
                                                : ''
                                        "
                                        disabled
                                    >
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-layout>

                        <v-row v-if="item.service != ''">
                            <v-col cols="12">
                                <v-card-title>
                                    <span class="headline">
                                        Serviços cadastrados
                                    </span>
                                </v-card-title>
                            </v-col>

                            <v-col cols="12">
                                <v-chip
                                    v-for="(service, i) in item.service"
                                    :key="i"
                                    color="primary"
                                    class="ma-2"
                                    outlined
                                >
                                    {{ service }}
                                </v-chip>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>* indica campo obrigatório</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" text @click="handleFormState">
                        Cancelar
                    </v-btn>
                    <v-btn
                        :loading="loading"
                        color="success darken-1"
                        text
                        @click="updateItem(item)"
                        name="name"
                    >
                        Salvar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
import moment from "moment";
export default {
    name: "EditItem",
    props: {
        value: {
            type: Boolean
        },

        item: {
            type: Object
        }
    },

    data() {
        return {
            checked: true,
            data: null,
            loading: false
        };
    },

    methods: {
        handleFormState() {
            this.$emit("click", false);
        },

        handleData({ target: { name, value } }) {
            this.data = { ...this.data, [name]: value };
        },

        async updateItem({ id }) {
            this.loading = true;
            await this.$http.put(`/users/${id}`, this.data).catch(err => {
                this.$store.commit("AdminModule/MUTATE_ALERT", {
                    type: "error",
                    message: "Ocorreu um erro ao editar este serviço",
                    color: "red"
                });
            });
            this.$store.dispatch("UsersModule/FETCH_USERS");
            this.loading = false;
            this.$emit("click", false);
        },

        formatDate(date) {
            return moment(date).format("L");
        }
    }
};
</script>
