<template>
    <v-row justify="center">
        <v-dialog v-model="value" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Editar serviço</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    label="Nome*"
                                    :value="item ? item.nome : ''"
                                    @input="newName = $event"
                                    required
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>* indica campo obrigatório</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="handleFormState">
                        Cancelar
                    </v-btn>
                    <v-btn
                        :loading="loading"
                        color="blue darken-1"
                        text
                        @click="updateItem(item)"
                        name="name"
                    >
                        Salvar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
export default {
    name: "EditItem",
    props: {
        value: {
            type: Boolean
        },

        item: {
            type: Object
        }
    },

    data() {
        return {
            newName: null,
            loading: false
        };
    },

    methods: {
        handleFormState() {
            this.$emit("click", false);
        },

        async updateItem({ id }) {
            this.loading = true;
            await this.$http
                .put(`/services/${id}`, {
                    name: this.newName
                })
                .catch(err => {
                    this.$store.commit("AdminModule/MUTATE_ALERT", {
                        type: "error",
                        message: "Ocorreu um erro ao editar este serviço",
                        color: "red"
                    });
                });
            this.$store.dispatch("ServiceModule/FETCH_SERVICES");
            this.loading = false;
            this.$emit("click", false);
        }
    }
};
</script>
