<template>
    <div class="text-center">
        <v-snackbar
            bottom
            dark
            :color="alert.color"
            v-model="alert.error"
            :multi-line="multiLine"
        >
            {{ alert.message }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    color="#FFF"
                    text
                    v-bind="attrs"
                    @click="(alert.error = false) || (alert.success = false)"
                >
                    Fechar
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "Alert",

    data() {
        return {
            multiLine: true
        };
    },

    computed: {
        ...mapState("AdminModule", ["alert"])
    }
};
</script>
