<template>
    <v-dialog v-model="value" persistent max-width="600px">
        <v-card>
            <v-card-title class="headline">
                Atenção!
            </v-card-title>

            <v-card-text>
                <p>Tem certeza que quer deletar esse registro?</p>

                <small class="red--text">
                    Após confirmar, esse registro não pode ser recuperado.
                </small>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="darken-1" text @click="handleDialog()">
                    Cancelar
                </v-btn>

                <v-btn
                    :loading="loading"
                    color="red darken-1"
                    text
                    @click="deleteItem(item)"
                >
                    DELETAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            default: false
        },
        item: {
            type: Object
        },
        route: {
            type: String
        }
    },

    data() {
        return {
            loading: false
        };
    },

    methods: {
        async deleteItem({ id }) {
            this.loading = true;
            const response = await this.$http
                .delete(`${this.route}/${id}`)
                .catch(err => {
                    this.loading = false;
                    this.$store.commit("AdminModule/MUTATE_ALERT", {
                        type: "error",
                        message: "Ocorreu um erro ao deletar esse registro.",
                        color: "red"
                    });
                    console.log(err);
                });
            this.handleDialog();
        },

        handleDialog() {
            this.$emit("click", false);
        }
    },

    mounted() {
        this.item;
    }
};
</script>
