<template>
    <v-progress-linear
        color="primary accent-4"
        indeterminate
        rounded
        height="6"
    ></v-progress-linear>
</template>

<script>
export default {};
</script>

<style></style>
