<template>
    <v-row justify="center">
        <v-dialog v-model="value" persistent max-width="700">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="handleFormState()">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>
                        {{ item.nome }}
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12"> </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
export default {
    name: "PdfView",

    props: {
        value: {
            type: Boolean
        },

        item: {
            type: Object
        }
    },

    data() {
        return {};
    },

    methods: {
        handleFormState() {
            this.$emit("click", false);
        }
    }
};
</script>
