<template>
    <div>
        <Loader v-show="loading" />
        <canvas v-show="!loading" id="myChart" width="100%"></canvas>
    </div>
</template>

<script>
import Chart from "chart.js";
import { mapGetters } from "vuex";
import { nextTick } from "vue";
import Loader from "../base/Loader.vue";

export default {
    components: {
        Loader
    },
    data() {
        return {
            loading: true,
            data: {
                labels: [],
                datasets: [
                    {
                        label: "Atendimentos",
                        data: [],
                        backgroundColor: "transparent",
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)",
                            "rgba(255, 99, 132, 1)"
                        ],
                        borderWidth: 2
                    }
                ]
            },
            options: []
        };
    },

    computed: {
        ...mapGetters("AdminModule", ["range"])
    },

    watch: {
        async range(newValue) {
            await nextTick();
            let bookings = [];
            let months = [];
            newValue.map(item => {
                bookings = [...bookings, item.bookings];
                months = [...months, item.month];
            });
            this.data["datasets"][0].data = bookings;
            this.data["labels"] = months;
            this.loading = false;
            this.renderChart();
        }
    },

    methods: {
        renderChart() {
            var ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx, {
                type: "line",
                data: this.data,
                options: this.options
            });
        }
    }
};
</script>
